<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar novo usuário</title>
</head>
<body>
    <h2>Criar novo usuário</h2>
    <form method="POST" class="form" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group">
            <div class="input-box">
                <div class="select">
                    <div class="form-contratos">
                        <div class="campo">
                            <div class="campo-nome">Nome:</div>
                            <div class="campo-valor">{{form.Nome}}</div>
                        </div>
                        <div class="campo">
                            <div class="campo-nome">Intervalo Pre-Assinalado:</div>
                            <div class="campo-valor">{{form.MarcacaoAutomaticaIntervaloAlmoco}}</div>
                        </div>
                </div>
            </div>
        </div>



        
        <button type="submit">Criar Departamento</button>
    </form>
</body>
</html>