<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busque</title>
</head>
<body>
    <form method="GET" action="{% url 'search_collaborator' %}">
        <input type="text" name="q" placeholder="Buscar por CPF">
        <input type="submit" value="Buscar">
    </form>
      
      <ul>
        {% for collaborator in object_list %}
          <li>
            <a href="{% url 'collaborator_detail' collaborator.id %}">{{ collaborator.name }}</a>
          </li>
        {% endfor %}
      </ul>
      
</body>
</html>