<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Consultar</button>
    </form>



    <table>
        <tr>
            <th>Data de Emissão</th>
            <th>Numero</th>
            <th>Valor da Nota</th>
            <th>Link</th>
            <!-- Adicione aqui outras colunas conforme necessário -->
        </tr>
        {% for nota in notas %}
        <tr>
            <td>{{ nota.DataEmissao }}</td>
            <td>{{ nota.Numero }}</td>
            <td>{{ nota.ValorNFE }}</td>
            <td>{{ nota.LinkNFE }}</td>
            
            <!-- Adicione aqui outras colunas conforme necessário -->
        </tr>
        {% endfor %}
    </table>
</body>
</html>